#app-wrapper {
  padding: 0px 25px 15px 25px;
}

#app-wrapper h4 {
  font-style: italic;
}

.newsletter-icon {
  height: 80px;
  width: 80px;
  border-radius: 10%;
}

#newsletter-table {
  margin-top: 45px;
  border: none;
}

#newsletter-table td {
  border: none;
}

#newsletter-table td h5 {
  font-size: 18px;
}

#newsletter-table td:first-child {
  width: 50px;
}
