#app-wrapper {
  padding: 0px 25px 15px 25px;
}

#app-wrapper h4 {
  font-style: italic;
}

.newsletter-icon {
  height: 80px;
  width: 80px;
  border-radius: 10%;
}

#newsletter-table {
  margin-top: 25px;
  border: none;
}

#newsletter-table td {
  border: none;
}

#newsletter-table td a {
  font-size: 18px;
  display: block;
}

#newsletter-table td:first-child {
  width: 50px;
}

#newsletter-table td:nth-child(2) {
  width: 500px;
}

.description {
  font-style: italic;
}